

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#button{
    height: 40px;
    width: 100%;
    background-color: blue;
    color: white;
    font-size: 2rem;
    padding: 10px;
}